@{
    ViewBag.Title = "Composer";
}

<h2>@ViewBag.ComposerName, @ViewBag.ComposerTitle</h2>
<h3>Notable awards: @ViewBag.ComposerAwards</h3>

<p>Use this area to provide additional information.</p>
