@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Audionetwork</h1>
    <p class="lead">Find music to be passionate about</p>
</div>
<div class="composers">
    <h3>Not sure where to start?</h3>
    <p>Explore our range of composers:</p>
    <ul>
        @foreach (var x in ViewBag.Composers)
        {<li><a href="/Home/Composer/@x.Id/">@x.FirstName @x.LastName</a></li>}
    </ul>
    <p>We presently work with @ViewBag.Composers.Count composers.</p>
</div>
